<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @aws_account.description %>
</p>

<%= link_to 'Edit', edit_aws_account_path(@aws_account) %> |
<%= link_to 'Back', aws_accounts_path %>
